html,
body {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px auto;
  font-family: "Lato", sans-serif;
  color: white;
  text-align: center;
}
.AI {
  z-index: 100;
  max-width: 285px;
  position: fixed;
  bottom: 10%;
  right: 3%;
}
#avatar {
  border: 3px ridge #b20000;
  cursor: pointer;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-image: url(club-bot.gif);
  position: fixed;
  bottom: 2%;
  right: 3%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.club-ai {
  display: none;
  overflow: hidden;
  height: 80px;
}
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: #240000;
}
.container h1 {
  position: relative;
  padding: 5px;
  font-size: clamp(2rem, 0.8571rem + 6.8571vw, 6rem);
}
.container p {
  padding: 5px;
  font-size: 1.2rem;
}
.scaffold {
  position: relative;
}
#minion-bot {
  position: absolute;
  bottom: 0px;
  width: 120px;
  left: 30px;
}
#minion-bot img {
  width: 100%;
}
#minion-bot .eye {
  width: 25px;
  position: absolute;
  top: 35px;
  left: 47px;
}
@media screen and (max-width: 586px) {
  #minion-bot {
    margin: 0 auto;
    position: relative;
    left: 0;
  }
}